.taskCard {
    width: 100%;
    border-radius: 8px;
    background-color: var(--gray-500);
    margin-bottom: 14px;
}

.taskInsideBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--gray-100);
}

.taskMessage {
    width: 100%;
}

.checkbox {
    width: 18px;
    height: 18px;
}